:root {
    --primary-color: #2a57eb; /* Royal Blue */
    --secondary-color: #bfebff; /* blue */
    --accent1-color: #516eff; /* purple*/
    --accent2-color: #000000f1; /* Coral */
    --header-font: 'Arial Black', sans-serif;
    --body-font: 'Verdana', sans-serif;
}

grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1fr 1fr 1fr;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--secondary-color);
  border-bottom: 2px solid #ccc;
}



nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;

}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #0077cc;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width:840px;
    margin: 0 auto; 
}

h1, h2 {
    font-family: var(--header-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 12px;
    padding: 5px;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
}

h1{
    position: absolute;
    top: 8%;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article img {
    float: right;
    margin: auto;
    width: 150px;
    box-shadow: gray 0px 0px 30px;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    width: 95%;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    margin-top: 15px;
}

h2 {
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--accent1-color);
    text-align: center;
    font-family: var(--header-font);
    color: #fff
}

section p {
    margin: 0 auto;
    color: var(--accent2-color);
    font-family: var(--body-font);
}

 .section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    display: flex;
    gap: 15px;
}

.section-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

figure {
    text-align: center;
    margin: auto;
}

figcaption {
    font-family: var(--body-font);
    margin-top: 5px;
    color: var(--accent2-color);
}


footer {
    display: grid;
    grid-template-columns: 3fr 0.9fr;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    border-top: 1px solid var(--accent2-color);
    text-align: left;
    font-size: small;
    color: var(--accent2-color);
}

footer p {
    text-align: center;
}

.socialmedia img {
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}