:root {
    --primary-color: #2a57eb; /* Royal Blue */
    --secondary-color: #00ffb7; /* Green */
    --accent1-color: #516eff; /* purple*/
    --accent2-color: #d5de63f1; /* Coral */
    --header-font: 'Arial Black', sans-serif;
    --body-font: 'Verdana', sans-serif;
}

grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1fr 1fr 1fr;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 20px 40px;
  background-color: #e6f7ff;
  border-bottom: 2px solid #ccc;
}



nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;

}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #0077cc;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width:840px;
    margin: 0 auto; 
}

h1, h2 {
    font-family: var(--header-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 12px;
    padding: 5px;
}

.socialmedia a {
    text-decoration: none;
    width: 20px;
    height: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
}

h1{
    position: absolute;
    top: 8%;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article img {
    float: right;
    margin: auto;
    width: 150px;
    box-shadow: gray 0px 0px 30px;
}

.hero article {
    position: absolute;
    top: 72%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    width: 95%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;

}

h2 {
    width: 100%;
    background-color: var(--accent1-color);
    text-align: center;
    font-family: var(--header-font);
    color: #fff
}

section p {
    text-align: center;
    color:#000;
    font-family: var(--body-font);
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: left;
    font-size: smaller;
}