:root {
    --primary-color: #2a57eb; /* Royal Blue */
    --secondary-color: #bfebff; /* blue */
    --accent1-color: #516eff; /* purple*/
    --accent2-color: #000000f1; /* Coral */
    --header-font: 'Arial Black', sans-serif;
    --body-font: 'Verdana', sans-serif;
}

/*about page start*/

grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--secondary-color);
  border-bottom: 2px solid #ccc;
}



nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;

}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #2a57eb;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width:840px;
    margin: 0 auto; 
}

h1, h2 {
    font-family: var(--header-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 12px;
    padding: 5px;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
}

.main-h1 {
    position: absolute;
    top: 8%;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article img {
    float: right;
    margin: auto;
    width: 150px;
    box-shadow: gray 0px 0px 30px;
    padding-left: 10px;;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    width: 95%;
    padding: 10px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;
    
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    margin-top: 15px;
}

.main-h2 {
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--accent1-color);
    text-align: center;
    font-family: var(--header-font);
    color: #fff
}

.about-h2 {
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--accent1-color);
    text-align: center;
    font-family: var(--header-font);
    color: #fff
}

section p {
    margin: 0 auto;
    color: var(--accent2-color);
    font-family: var(--body-font);
}

 .section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    display: flex;
    gap: 15px;
}

.section-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

figure {
    text-align: center;
    margin: auto;
}

figcaption {
    font-family: var(--body-font);
    margin-top: 5px;
    color: var(--accent2-color);
}


footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    border-top: 1px solid var(--accent2-color);
    text-align: left;
    font-size: small;
    color: var(--accent2-color);
}

footer p {
    text-align: center;
}

.socialmedia img {
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}

/*about page end*/

/*contact page start*/

.wild {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.wild h3 {
    margin-top: 10px;
    color: var(--accent2-color);
    font-size: 2rem;
    margin-bottom: 0;
}

.wild p {
    color: var(--accent2-color);
    font-size: 1.2rem;
    margin-top: 0;
}

.map {
    display: flex;
    justify-content: flex-start;
    width: 350px;
    height: auto;
    margin-bottom: 30px;
}

.mid-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
  
}

form {
  max-width: 500px;
  margin: auto;
  font-family: Arial, sans-serif;
  
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
  color: var(--accent2-color)
}

 input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

input[type="textarea"]
textarea {
  padding: 15px;
  resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 8px;
}

button {
  background-color: #979797;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005fa3;
}

.name label {
    display: flex;
    justify-content: flex-start;
}

.email label {
    text-align: left;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    color: var(--accent2-color);
    font-size: 1rem;
}

/*contact page end*/

/*index page start*/
.home {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.home img {
    display: block;
    width: 100%;
    height: auto;
}

.home h1 {
    position: absolute;
    top: 8%;
    width: auto;
    height: 100px;
    left: 50px;
    align-items: center;
    padding-bottom: 30px;
    color: white;
}

.form {
    position: absolute;
    top: 30%;
    background-color: white;
    left: 50px;
    padding: 1em;
    align-items: left;
    border-radius: 5px;
}

.form label {
    text-align: left;
    width: 100px;
}

.form input {
    align-items: center;
    width: 100%;
    box-shadow: #ccc 0px 0px 10px;
    border-radius: 5px;
}

.form button {
    text-align: center;
    background-color: var(--primary-color);
    border-color: #000;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

h3 {
    display: block;
    width: 150px;
    align-items: center;
}

.index-h2 {
    padding-bottom: 10px;
}

.cta-button a {
    margin-top: 15px;
    text-align: center;
    background-color: var(--accent2-color);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.section-index img {
    width: 350px;
    height: auto;
    border-radius: 5px;
}

.section-index p {
    font-size: 1.2rem;
    align-items: center;
    font-family: var(--body-font);
    
}

.section-index {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.section-index-2 h3 {
    color: var(--primary-color);
    text-align: left;
    padding-bottom: 15px;
    font-size: 1.5em;
    white-space: nowrap;
    font-family: var(--header-font);
}

.wchooseus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    
}

.why-item h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.why-item p {
    font-size: 1rem;
    line-height: 1.5;
}

/*contact page start*/

/*Trips page start*/

.trips h1 {
    color: var(--accent2-color);
    text-align: center;
    margin-bottom: 15px;
}

.trips img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.trips h2 {
    color: var(--primary-color);
    text-align: left;
    margin-bottom: 15px;
}

.trips table,td {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 15px;
    border: 1px solid var(--accent2-color);
    border-radius: 10px;
    padding: 20px;
    color: var(--accent2-color)
}

.trips table {
    border-radius: 10px;
}

.trips h3 {
    color: var(--primary-color);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    white-space: nowrap;
    font-family: var(--header-font);
    font-size: 1.4em;
}

.trips p {
    color: var(--accent2-color);
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: var(--body-font);
}

.trips h4 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: var(--header-font);
}

.header-all-trips {
    text-align: center;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.all-trips-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    color: var(--accent2-color);
}

.all-trips-table th,
.all-trips-table td {
    border: 1px solid var(--accent2-color);
    padding: 20px;
    text-align: left;
    border-radius: 10px;
}

.name-trips, .email-trips {
    display: flex;
    align-items: left;
    gap: 10px;
}

form {
    left: 89px;
    text-align: left;
    padding: 20px;
}

.name-trips label, .email-trips label {
  font-weight: bold;
  color: var(--accent2-color);
  order: 1;
}
.name-trips input, .email-trips input {
    flex: 2;
    order: 2;
    border-color: #000;
    border-radius: 5px;
}

button {
    background-color: var(--primary-color);
    justify-content: center;
    align-self: flex-end;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}