nav{
    background-color: #556b2f;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #f0f8ff;
    padding: 0.5rem;
    text-decoration: none;

}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
 }

main { 
    max-width: 800px;
}

h1 {
    color:#333;
    padding-bottom: 10px;
    border-bottom: solid 2px #333;
}

main img{ 
    width: 150px;
    height: auto;
    border:1px solid rgb(0 0 0 / 0.2);
    padding: 2px;
    box-shadow: 0 0 30px #3d2b1f;
}

aside { 
    width: 300px;
    margin:10px;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 50px;
    background-color: #a9a9a9;
    color: #333;
    text-align: center
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 15px;
    text-align: center;
}
