main { 
    width: 800px;
}

main img{ 
    width: 150px;
    height: auto;
}

aside { 
    width: 300px;
    margin:10px;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 50px;
    background-color: #f5f5dc;
    color: #333;
    text-align: center
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 15px;
    text-align: left;
}
