.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid #f8efef00;
    padding: 10px;
    background-color: #247;
    color: #fff
	
}

.callout img {
    float:  right;
    margin: 0 0 10px 10px;
    border: 1px solid #000000;
    padding:5px; color:gray;
    background-color: #fff;
    width: 150px;
    height: auto;
	
}

blockquote {
	
}

cite {
	
}